<ion-view view-title="{{'menu_5'| translate}}">
  <ion-content class="fontWhite" style="background-image: url('img/bg_about.png'); background-size: cover;">    
    <br/>
    <center>
        <h4>{{'slogan_barber'| translate}}</h4>
        <a href="http://barbersnet.com" target="_new"><img width="50%" src="img/Barbers-net-logo.png" /></a>
        <br/>
        <a href="mailto:info@barbersnet.com" class="fontWhite">info@barbersnet.com</a>
        <br/><br/>
        <h4>{{'developed_by'| translate}}:</h4><br/>
        <a href="http://mobolapps.com" target="_new"><img width="100%" src="img/logo_mobolapps.png" /></a>
        <br/>
        <a href="mailto:contacto@mobolapps.com" class="fontWhite">contacto@mobolapps.com</a>
        <br/>
        <br/>
        App version date: August 14, 2017
        <br/>
    </center>    
  </ion-content>
</ion-view>
