<ion-view view-title="{{'edit'| translate}}">
    
    <ion-nav-bar class="bar-barber">
        <ion-nav-back-button style=" color: #fff;"></ion-nav-back-button>
    </ion-nav-bar>
    
    <ion-content class="fontWhite" style="background: url(img/bg-detail-client.png) center; background-size: cover;">
            <center>
                <img id ="foto" ng-src="{{muser.MobileUser.foto}}" ng-model="dataEditProfile.foto" class="avatar" ng-click="borrarFoto()"/>
                <div class="row myPadding">
                    <div class="col">
                        <a href="" ng-click="cargarFoto()"><img ng-src="img/adjuntar.png" width="25%"/></a>&nbsp;&nbsp;&nbsp;
                        <a href="" style=" opacity: 0.8; " ng-click="rotateImage()"><img ng-src="img/btn_rotate.png" style=" background: #FFFFFF; border-radius: 100% ;border-color: #A91213" width="25%"/></a>&nbsp;&nbsp;&nbsp;
                        <a href="" ng-click="tomarFoto()"><img ng-src="img/camera.png" width="25%"/></a>
                    </div>
                </div>
                <b>
                  {{dataEditProfile.name}}<br/>
                  {{dataEditProfile.email}}
                </b><br/>
            </center>
        <!-- class="list" -->
        <div  ng-app="starter">            
            <form >
                <!--
                <label class="myPadding item item-input item-stacked-label">
                    <span class="input-label fontWhite bold">E-mail</span>
                    <input type="email" ng-model="dataEditProfile.email" placeholder=" E-mail">
                </label>
                <label class="myPadding item item-input item-stacked-label">
                    <span class="input-label fontWhite bold">Name</span>
                    <input type="text" ng-model="dataEditProfile.name" placeholder=" Full name">
                </label>
                -->
                <label ng-if="editarreferido==true " class="myPadding item item-input item-stacked-label">
                    <span class="input-label fontWhite bold">* {{'barber_ref_code'| translate}}</span>
                    <input type="text" ng-model="dataEditProfile.codigobarbero" placeholder=" Code" >
                </label>
                <label class="myPadding item item-input item-stacked-label">
                    <span class="input-label fontWhite bold">{{'phone'| translate}}</span>
                    <input type="tel" ng-model="dataEditProfile.phone" placeholder=" phone number">
                </label>
                <label class="myPadding item item-input item-stacked-label">
                    <span class="input-label fontWhite bold">{{'password'| translate}}</span>
                    <input type="password" ng-model="dataEditProfile.password" placeholder=" ********">
                </label>
                    <label class="myPadding item item-input item-stacked-label">
                        <span class="input-label fontWhite bold">{{'gender'| translate}}</span><br/>
                        <label class="item item-select">
                            <select name="gender" ng-model="dataEditProfile.gender">
                                <option value="M">{{'male'| translate}}</option>
                                <option value="F">{{'female'| translate}}</option>
                            </select>
                        </label>
                    </label>
                
                <!--
                OJO: este label no permite que funcione el datepicker
                <label class="myPadding item item-input item-stacked-label">
                -->
                <div class="myPadding item item-stacked-label">
                    <span class="input-label fontWhite bold">{{'birthdate'| translate}}</span>
                    <!--<input type="date" ng-model="dataEditProfile.birthdate">-->
                    
                    <onezone-datepicker datepicker-object="onezoneDatepicker">
                        <button class="button button-block button-small button-stable show-onezone-datepicker" style="border-radius: 5px">
                            <strong class="capitalize">{{dataEditProfile.birthdate | amDateFormat:'MMMM D, YYYY'}}</strong> 
                        </button>                    
                    </onezone-datepicker>
                    <!--<strong><span class="fontWhite capitalize">{{dataEditProfile.birthdate | amDateFormat:'dddd. MMMM D, YYYY'}}</span></strong>-->
                    <input ng-model="dataEditProfile.birthdate" id="date" type="hidden" style="color: black;" value="{{dataEditProfile.birthdate}}" />
                    
                <!--</label>-->
                </div>
                <!--
                <label class="myPadding item item-input item-stacked-label">
                    <span class="input-label fontWhite bold">Barber code</span>
                    <input type="text" placeholder=" # code" ng-model="dataEditProfile.code">
                </label>-->
                <!--<label class="myPadding item item-input item-stacked-label">
                    <span class="input-label fontWhite bold">{{'obs'| translate}}</span><br/>
                    <textarea ng-model="dataEditProfile.observations" placeholder=" {{'obs_ph'| translate}}"></textarea>
                </label>-->
                <button type="submit" name="submit" ng-click="editProfile()" class="button button-full myRed fontWhite" >{{'save'| translate}}</button>
            </form>
        </div>

    </ion-content>
</ion-view>
