<ion-view view-title="Welcome!">
    <ion-nav-buttons side="left"></ion-nav-buttons>
    
    <ion-content style="background: url(img/bg-intro.jpg) center; background-size: cover;">
        <br/>
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <!--<center><h3>Barbersnet for Clients</h3></center>-->
            </div>
        </div>
        
        <br/>
        <div>
            <center>
                <h3><a class="fontWhite" href="#/app/profile-add" >For Sign In click here</a></h3>
            </center>
            <br/>
        </div>
        
        <br/>
        <div>
            <center>
                <h3><a class="fontWhite" href="#/app/login" >For Log In click here</a></h3>
            </center>
            <br/>
        </div>
        
        <div>
            <center>
                <h4><a class="fontWhite" href="#" ng-click="forgotPassword()" >Did you forget your password ?</a></h4>
            </center>
            <br/><br/>
        </div>
        
    </ion-content>
</ion-view>

